
    .navbar{
        .searchinput{
          margin-left: 138px;
          height: 33px;
          width: 47%;
       
        }
       }
       a{
           color:white;
           font-weight: 600;
       }